/* header */

/* Maybe add a drop shadow to the header later */

.body {
    background-color: #F2F1E8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather';
    color: #131511;
}

.header {
    background-color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    /* Changed header from fixed to absolute */
    position: fixed;
    width: 100%;
    font-family: 'Roboto';
    z-index: 1;
}

.logo-box {
    padding: .2% 10% .2% .3%;

    width: 35px;
    height: 35px;
    position: absolute;
}

.nav {
    margin-left: 28%;
}

.header-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.header-item {
    margin-left: 35%;
    margin-right: 35%;
}

nav a {
    text-decoration: underline;
    color: #2B2F26;
}

nav a:hover {
    color: #CD5D67;
}

nav a:active {
    color: #968772;
}

a { 
    color: #968772}

/*header */

/* body of about page */

.section1 {
    margin: 0vw 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page-header {
    text-align: center;
    font-size: 2.5em;
    margin-top: 8%;
}

.birdhouse {
    float: left;
}

p {
    font-size: 1.2em;
    margin: .5% 0 .5% 0;
}

.header1 {
    padding: 0;
    margin: .5% 0 .5% 0;
}

.para2 {
    margin-bottom: 2%;
}

.quote {
    border-left: 2px solid rgb(202, 167, 126);
    padding: .5% .5% .5% 1.5%;
}

.parallax {
    background-image: url("images/background-3.jpg");
    min-height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.room-to-grow {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 6%;
    font-size: 2em;
}


.section2 {
    margin: 0vw 20vh;
    display: flex;
    flex-direction: row;
}

aside {
    margin: 2% 0 0 2%;
}


.asidetxt {
    font-size: .8em;
}

.shelfspace {
    margin: 1%;
}

.section3 {
    margin: 0vw 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

table, th, tr, td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 0;
    margin-right: 50%;
}

th, tr, td {
    padding: 2%;
}

.darktable {
    background-color: rgb(230, 215, 195);
}

footer {
    border: 2px solid rgb(31, 34, 11);
    background-color:rgb(31, 34, 11);
    margin-top: 2%;
    padding: 1%;
    color: #FFFFFF;
    text-align: left;
    font-size: .6em;
}

/* body of newsletter */

.box {
    z-index: 0;
    position: absolute;
    margin: 0%;
    padding: 1% 3% 1% 3%;
    border: 2px solid black;
    background-color: #FFFFFF;
    left: 27%;
    bottom: 30%;   
}


.boxtitle {
 padding: 2%;
 text-align: center;
 font-size: 1.8em;
 margin: 0;
}

.bxsubttle {
    padding: 2%;
    text-align: center;
    font-size: 1.2em;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 2px solid #968772;
    font-family: 'Roboto';
    color: darkgray;
}

.inputxt, .input-email  {
    font-family: 'Roboto';
    color: gray;
    padding: 0;
    margin: 0;
}

.button {
    border: 1px solid black;
    margin: 0 0 5% 40%;
    padding: 3%;
    text-align: center;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #968772;
    color: #F2F1E8;
    font-family: 'Roboto';
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: .05em;
}

.button:hover {
    color: #FFFFFF;
}

/* .submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

/* Body of about page */

.home-title {
    margin-top: 5%;
    margin-left: 1%;
    padding: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    z-index: 0;
}

.first-title, .second-title {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 2%;
}

.second-title {
    color: rgb(66, 64, 64);
    font-weight: lighter;
}

/* Images box for about page */

.pic-box {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 4%;
}

.row-one  {
    display: flex;
    flex-direction: row;
    height: 30rem;
    width: 100%;
    margin: 0;
    padding: 0;
}

.row-two {
    display: flex;
    flex-direction: row;
    height: 25rem;
    width: 100%;
    margin: 0;
    padding: 0;
}

.pic-one {
    background-image: url("images/endless-possibilities.jpg");
    background-size: cover;
    width:60%;
    margin: .5%;
    padding: 0;
}

.pic-two {
    background-image: url("images/sets.jpg");
    background-size: cover;
    width:20%;
    margin: .5%;
    padding: 0;
}

.pic-three {
    background-image: url("images/textures.jpg");
    background-size: cover;
    width: 20%;
    margin: .5%;
    padding: 0;
}

.pic-four {
    background-image: url("images/tea-time.jpg");
    background-size: cover;
    width:20%;
    margin: .5%;
    padding: 0;
} 

.pic-five {
    background-image: url("images/jars-and-containers.jpg");
    background-size: cover;
    width:20%;
    margin: .5%;
    padding: 0;
}

.pic-six {
    background-image: url("images/wasabi-and-saki.jpg");
    background-size: cover;
    width: 40%;
    margin: .5%;
    padding: 0;
}

.pic-seven {
    background-image: url("images/sippin-on-sunshine.jpg");
    background-size: cover;
    width:20%;
    margin: .5%;
    padding: 0;
}

.pictxt {
    border-color: rgb(31, 34, 11);
    background-color: rgb(31, 34, 11);
    padding: 1%;
    /* margin-bottom: 2.5%; */
}

.pic-one, .pic-two, .pic-three, .pic-four, .pic-five, .pic-six,
.pic-seven {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.pic-one, .pic-two, .pic-three {
    padding-bottom: 1.5%;
}

.pic-four, .pic-five, .pic-six,.pic-seven {
    padding-bottom: 1.5%;
}